{
    "driver_config": {},
    "campus": "PNNL",
    "building": "BUILDING2",
    "unit": "fake_device",
    "driver_type": "fakedriver",
    "registry_config":"/home/vdev/git/volttron/services/core/MasterDriverAgent/master_driver/fake.csv",
    "interval": 10,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}